
.don{
   width: 100%; 
   display: flex;
   justify-content: center;
   font-weight: bolder;
   margin-bottom: 40px;
   color: #7C7776;
}

.don_in{
    min-height: 90vh;
    width: 70%;
    padding:30px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 2px #5DA4D9;
}

.div{
    border-bottom: solid  #5DA4D9;
    border-top: solid  #5DA4D9;
}

.div > *{
    margin-bottom: 20px;
}

.kk{
    margin-bottom: 30px;
}
